<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.EnglishWordMapper">
	<resultMap type="com.pojo.EnglishWords" id="englishWords">
		<id property="id" column="id"/>
		<result property="englishWords" column="ENGLISH_WORDS"/>
		<result property="englishMean" column="ENGLISH_MEAN"/>
		<result property="addTime" column="ADD_TIME"/>
		<result property="englishPhrases" column="ENGLISH_PHRASES"/>
		<result property="phrasesMean" column="PHRASES_MEAN"/>
	</resultMap>
   
   <insert id="addEnglishWord" parameterType="com.pojo.EnglishWords">
   		insert into ZM_ENGLISH_WORDS(id,ENGLISH_WORDS,ENGLISH_MEAN,ADD_TIME,ENGLISH_PHRASES,PHRASES_MEAN)
   		 values (#{id},#{englishWords},#{englishMean},#{addTime},#{englishPhrases},#{phrasesMean})
   </insert>
   
   <select id="countEnglish" resultType="int">
   		select count(1) from ZM_ENGLISH_WORDS
   </select>
   
   <select id="queryAllEnglishWord" resultType="java.util.Map">
   		SELECT * FROM zm_english_words limit #{startPage},#{number}
   </select>
   
   <delete id="deleteEnglish" parameterType="String">
   		delete from zm_english_words where id=#{id}
   </delete>
   
   <select id="queryEnglishById" parameterType="String" resultMap="englishWords">
   		select * from zm_english_words where id=#{id}
   </select>
   
   <update id="putEnglishWord" parameterType="com.pojo.EnglishWords">
   		update zm_english_words set ENGLISH_WORDS=#{englishWords},ENGLISH_MEAN=#{englishMean},
   		ENGLISH_PHRASES=#{englishPhrases},PHRASES_MEAN=#{phrasesMean} where id=#{id}
   </update>
   
   <select id="queryByWord" parameterType="String" resultMap="englishWords">
   		select * from zm_english_words where ENGLISH_WORDS=#{word}
   </select>
   
   <select id="studyEnglishWords" parameterType="String" resultType="java.util.Map">
   		select * from zm_english_words where  1=1 
   		<if test="startTime !=null and startTime!=''">
   		<![CDATA[
   			and DATE_FORMAT(add_time,'%Y-%m')<=#{startTime}
		]]>
   		</if>
   		<if test="endTime !=null and endTime!=''">
   		<![CDATA[
			and DATE_FORMAT(add_time,'%Y-%m')>=#{endTime}
		]]>
		</if>
   </select>
</mapper>